@media (prefers-color-scheme: dark) {
  html {
    min-height: 100%;
    background: var(--background-body);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .invert-if-dark {
    filter: invert(1);
  }

  .invert-if-light {
    filter: invert(0);
  }
}
::selection {
  background: var(--blast-color);
}

#d14b4b body {
  background: unset;
}

.Page-Subtitle {
  font-family: "Pacifico";
  font-weight: 435000;
  font-style: normal;
  font-size: calc(var(--text-font-size) * 2.1);
}

h3,
h4 {
  line-height: 1.4;
}

.homepageHeader {
  color: var(--text-bright);
  text-decoration: none;
}

p:not(:last-child),
.text-content:not(:last-child),
li:not(:last-child) {
  margin-block-end: 1rem;
}

.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  box-shadow: 0px 0px 3px rgba(256, 256, 256, 0.2);
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  margin-bottom: unset;
}
.svg-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.svg-icon.svg-baseline svg {
  top: 0.125rem;
  position: relative;
}

.subscribe-hook-image {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: blur(5px);
}
.subscribe-hook-image:hover {
  filter: blur(0px) drop-shadow(0px 0px 7px var(--text-main-shadow));
}

.shadowed {
  filter: drop-shadow(0px 0px 1px var(--text-main-shadow));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadowed-2 {
  filter: drop-shadow(0px 0px 3px var(--text-main-shadow));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadowed-3 {
  box-shadow: drop-shadow(0px 0px 5px var(--text-main-shadow));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.shadowed-4 {
  box-shadow: drop-shadow(0px 0px 7px var(--text-main-shadow));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.shadowed-5 {
  box-shadow: drop-shadow(0px 0px 10px var(--text-main-shadow));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadowed:hover,
.shadowed-2:hover,
.shadowed-3:hover,
.shadowed-4:hover {
  filter: drop-shadow(0px 0px 10px var(--text-main-shadow));
}

.lighten-on-hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.lighten-on-hover:hover {
  filter: brightness(140%);
}

.social-button {
  filter: drop-shadow(0px 0px 0px var(--text-main-shadow)) brightness(100%);
  user-select: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.social-button:hover {
  filter: drop-shadow(0px 0px 3px var(--text-main-shadow)) brightness(110%);
}
.socials-container {
  position: fixed;
  right: 20px;
  top: 20px;
}
.social-button-text {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  margin-left: 4px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.total-content {
  padding-bottom: 10rem;
}

.page-navigation-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.navigate-left::before {
  content: "⟵";
  margin-right: 0.5rem;
}
.navigate-right::after {
  content: "⟶";
  margin-left: 0.5rem;
}
.navigate-left {
  font-size: calc(var(--text-font-size) * 1.4);
}
.navigate-right {
  font-size: calc(var(--text-font-size) * 1.4);
}

code {
  font-size: calc(var(--text-font-size) * 0.8);
}

.Block-Code,
code {
  font-family: "Fira Code", monospace;
  font-size: calc(var(--text-font-size) * 0.75);
}

@supports (font-variation-settings: normal) {
  .Block-Code {
    font-family: "Fira Code VF", monospace;
  }
}

.Block-Code code {
  background: unset;
  color: unset;
  padding: unset;
  border-radius: unset;
}

.katex {
  font: unset;
}

p,
.text-content,
li {
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  font-size: var(--text-font-size);
  line-height: 1.7;
}

/* Graphviz stuff */

.graphviz {
  padding-bottom: 1rem;
}
.graphviz .edge text,
.graphviz .node text {
  fill: var(--text-main);
  pointer-events: none;
}
.graphviz .edge path {
  stroke: var(--selection-light);
}
.graphviz .edge polygon,
.graphviz .node > ellipse {
  stroke: transparent;
  fill: var(--selection-light);
}
.graphviz .node > ellipse {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: brightness(1);
}
.graphviz .node > ellipse:hover {
  filter: brightness(1.25);
}

p,
.text-content,
.main-content .img-container,
.Block-Code,
.graphviz {
  padding-left: var(--body-content-padding);
  padding-right: var(--body-content-padding);
}
blockquote .text-content,
li .text-content {
  padding-left: 0;
  padding-right: 0;
}

table,
blockquote {
  margin-left: var(--body-content-padding);
  margin-right: var(--body-content-padding);
}
blockquote .main-content {
  padding-left: 0;
  padding-right: 0;
}

.img-container img {
  border-radius: 2rem;
}

.img-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.section-header-container {
  padding-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}
.section-header {
  filter: drop-shadow(0px 0px 10px var(--text-main-shadow));
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex: 7;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h1 {
  font-size: calc(
    var(--text-font-size) * (1 + 1.6 * var(--header-font-size-scaling))
  );
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h2 {
  font-size: calc(
    var(--text-font-size) * (1 + 0.7 * var(--header-font-size-scaling))
  );
}

h3 {
  font-size: calc(
    var(--text-font-size) * (1 + 0.5 * var(--header-font-size-scaling))
  );
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h4 {
  font-size: calc(
    var(--text-font-size) * (1 + 0.3 * var(--header-font-size-scaling))
  );
}

h5 {
  font-size: calc(
    var(--text-font-size) * (1 + 0.1 * var(--header-font-size-scaling))
  );
}

h6 {
  font-size: calc(
    var(--text-font-size) * (1 + 0 * var(--header-font-size-scaling))
  );
}

.Web3-Link {
  position: fixed;
  left: 20px;
  top: 20px;
  max-width: 15rem;
  padding-top: 0.5rem;
  border-top: 10px solid;
  border-image: linear-gradient(
      90deg,
      rgb(96.81% 34.16% 29.66% / 88%) 0 calc(1 * 100% / 6),
      rgb(100% 52.49% 27.5% / 88%) 0 calc(2 * 100% / 6),
      rgb(95.69% 73.33% 28.24% / 88%) 0 calc(3 * 100% / 6),
      rgb(35.15% 71.2% 39.39% / 88%) 0 calc(4 * 100% / 6),
      rgb(18.06% 54.05% 81.79% / 88%) 0 calc(5 * 100% / 6),
      rgb(67.32% 36.77% 95.86% / 88%) 0 calc(6 * 100% / 6)
    )
    10;
  font-size: calc(var(--text-font-size) * 0.8);
}

@media only screen and (max-width: 1400px) {
  .Web3-Link {
    position: unset;
    left: unset;
    top: unset;
    max-width: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: calc(var(--text-font-size) * 0.9);
    padding: 0.5rem;
  }
  .socials-container {
    position: unset;
    right: unset;
    top: unset;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .Web3-Link {
    display: none;
  }
  .social-button-text {
    display: none;
  }
  .text-content {
    padding-left: calc(var(--body-content-padding) / 3);
    padding-right: calc(var(--body-content-padding) / 3);
  }
  ol {
    padding-left: calc(var(--body-content-padding) / 1.5);
    padding-right: calc(var(--body-content-padding) / 1.5);
    list-style: none;
  }
  h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .Block-Code {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (prefers-color-scheme: light) {
  .invert-if-dark {
    filter: invert(0);
  }
  .invert-if-light {
    filter: invert(1);
  }

  html {
    min-height: 100%;
    /*
    background: linear-gradient(
      20deg,
      var(--color-arm-light) 0%,
      var(--color-shirt-light) 100%
    );
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  input,
  button,
  textarea,
  select {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }
}
/**/

.fadeIn {
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
