html {
	min-height: 100%;
  background: linear-gradient(20deg, #1a2732 0%, #3b1c25 100%);
  /*background: linear-gradient(200deg, var(--color-shirt-dark) 0%, var(--color-skirt-dark) 100%);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background: unset;
}


.homepageHeader {
  color: white;
  text-shadow: 0px 0px 10px var(--color-skirt-dark);
  text-decoration: none;
}




.checkboxes label {
  display: block;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
}
.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

input, button, textarea, select {
  box-shadow: 0px 0px 3px rgba(256,256,256,.2);
}

@media (prefers-color-scheme: light) {
  html {
    min-height: 100%;
    background: linear-gradient(20deg, var(--color-arm-light) 0%, var(--color-shirt-light) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .homepageHeader {
    color: var(---text-bright);
    text-shadow: 0px 0px 10px var(--color-arm-light);
  }

  
  input, button, textarea, select {
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
  }
}