.Topics {
  list-style: none;
}

.Topic {
  padding-bottom: 1em;
}

.Posts {
  list-style: none;
}

a.Post {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5em;
  background-color: var(--pale-blue-dark);
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.2));
  transition-duration: 0.1s;
}

a.Post:visited {
  background-color: var(--color-shirt-dark);
}
a.Post:hover {
  background-color: var(--color-shirt-darker);
}

@media (prefers-color-scheme: light) {
  a.Post {
    background-color: var(--attention);
  }

  a.Post:visited {
    background-color: var(--attention-dark);
  }
  a.Post:hover {
    background-color: var(--attention-darker);
  }
}
