:root {
  --color-break: #c7efcf;
  --color-work: #fea9a6;
}

.break-window {
  fill: var(--color-break);
}

.work-window {
  fill: var(--color-work);
}

.short-window {
  filter: grayscale(50%);
  transition: filter 0.2s;
}

.break-button {
  background-color: var(--color-break);
}
.work-button {
  background-color: var(--color-work);
}
.neither-button {
  background-color: var(--form-background);
}

.break-time {
  background-color: var(--color-break);
}
.work-time {
  background-color: var(--color-work);
}
