.always {
  margin-right: unset;
  padding: unset;
  box-shadow: unset;
  padding-left: calc(var(--text-font-size) / 2);
  padding-right: calc(var(--text-font-size) / 2);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #f0f0f0;
  color: black;

  position: relative;
  min-width: 1.5em;
  min-height: 1.5em;

  border: none;
  border-radius: 0.75em;

  font-size: var(--text-font-size);
  cursor: pointer;
}
.always:hover:enabled,
.always[aria-expanded="true"] {
  background-color: steelblue;
  background: steelblue;
  color: white;
  outline: none;
}

.tippy-box[data-theme~="gradient-tip"] {
  background: linear-gradient(130deg, #507bf4, #c8008c);
  box-shadow: 0 8px 12px #c9a0ff;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .always {
    background: var(--color-skirt-dark);
    color: var(--text-bright);
  }

  .always:hover:enabled,
  .always[aria-expanded="true"] {
    background: var(--focus);
  }

  .tippy-box[data-theme~="gradient-tip"] {
    background: linear-gradient(20deg, #1c4cb0, #b4007e);
    box-shadow: 0 8px 12px #42006c;
  }
}

.text-content {
  counter-reset: sidenote-counter;
}

@media only screen and (min-width: 1400px) {
  .sidenote,
  .marginnote {
    float: right;
    clear: right;
    margin-right: -35%;
    width: 30%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;

    font-size: calc(var(--text-font-size) * 0.8);
  }

  .sidenote-number {
    counter-increment: sidenote-counter;
  }

  .sidenote-number:after,
  .sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
  }

  .sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.5rem;
    left: 0.1rem;
  }

  .sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
  }

  blockquote .sidenote,
  blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
  }

  .sidenote-button {
    visibility: hidden;
    position: absolute;
  }

  .tippy-content {
    padding: 0.75em;
    font-size: calc(var(--text-font-size) * 0.8);
  }
  .tippy-content .katex {
    font-size: calc(var(--text-font-size));
  }

  .tippy-content p:first-of-type {
    margin-top: 0;
  }
  .tippy-content p:last-of-type {
    margin-bottom: 0;
  }
  .tippy-box.light-border-theme {
    font-size: 1em;
    border-radius: 0.5em;
    box-shadow: 4px 4px 14px -2px rgba(0, 8, 16, 0.15);
  }
}

@media only screen and (max-width: 1400px) {
  .tippy-box.light-border-theme {
    border-radius: 0.5em;
    box-shadow: 4px 4px 14px -2px rgba(0, 8, 16, 0.15);
  }

  .tippy-content {
    padding: 0.75em;
  }

  .sidenote-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: #ddd;
    color: black;

    position: relative;
    bottom: 1px;
    width: 1.5em;
    height: 1.5em;

    padding-left: unset;
    padding-right: unset;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    border-radius: 0.75em;

    font-size: 0.75em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
  }
  .sidenote-button:focus,
  .sidenote-button[aria-expanded="true"] {
    background: steelblue;
    color: white;
    outline: none;
  }

  .sidenote-button-number::after {
    counter-increment: sidenote-counter;
    content: counter(sidenote-counter);
  }

  .tippy-box[data-theme~="gradient-tip"] {
    font-size: 1.1em;
  }
}

/**/
