:root {
  --color-shirt: #abe188;
  --color-arm: #efb68b;
  --color-jacket: #ff6b6b;
  --color-skirt: #d7263d;
  --pale-blue: #c3d7eb;

  --color-shirt-light: #c4f6a7;
  --color-arm-light: #f8e4d9;
  --color-jacket-light: #ffc7c7;
  --color-skirt-light: #fac8cb;
  --pale-blue-light: var(--pale-blue);

  --color-shirt-dark: #121d25;
  --color-arm-dark: #352211;
  --color-jacket-dark: #550000;
  --color-skirt-dark: #1f0103;
  --pale-blue-dark: #1a2732;

  --background-body: #181a1b;
  --background: #161f27;
  --background-alt: #1a242f;
  --background-input: #020e10;
  --selection: #161f27;
  --text-main: #ebebeb;
  --text-main-shadow: #ebebeb55;
  --text-bright: #fff;
  --text-muted: #717880;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-hover: #324759;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(65, 92, 115);
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");

  --text-font-size: 1.2rem;
  --header-font-size-scaling: 0.5;
  --body-content-padding: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #f7f7f7;
    --background-input: #ecd1d6;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-main-shadow: #36363655;
    --text-bright: #000;
    --text-muted: #999;
    --links: #0076d1;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --code: #000;
    --animation-duration: 0.1s;
    --button-hover: #ddd;
    --scrollbar-thumb: rgb(44, 63, 79);
    --scrollbar-thumb-hover: rgb(32, 45, 56);
    --form-placeholder: #949494;
    --form-text: #000;
    --variable: #39a33c;
    --highlight: #ff0;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }
}
