.resultCard {
  border-radius: 2px;
  padding: 7px;
  margin-bottom: 2rem;
  background: var(--background);
  
  
  display: grid;
  grid-template-columns: auto 1px auto;
  
  grid-gap: 10px;
}

#youSaid {
  grid-column: 1 / span 3;
}

.questionResult, .answerResult  {
  padding: 5px;
  text-align: justify;
  font-size: 80%;
}

.questionText, .answerText {
  text-align: justify
}

.divider {
  border-left: 1px solid var(--text-main);
}

@media only screen and (max-width: 800px) {
  #questionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}